/* body{
    background-image:url(../../assets/img/img2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    
} */

.glass-effect {
    background: linear-gradient(
        135deg,
        rgba(255, 255,255,0.1),
        rgba(255, 255,255,0.1)
    );
    position: absolute;
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.36);
    border: 1px solid rgba(255,255,255,0.16);
    border-radius: 24px;
    padding: 0;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.glass-effect :where(h2,p) {
    color:white;
    text-align-last: center ;
    margin: 0;

}

.glass-effect h2{
    font-size: 28px;
    padding: 4px;
}
.glass-effect p{
    margin: 8px;
    font-size: 26px;
    color: rgb(206, 231, 255);
}

/* div imagen */

.caja{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* background: #333944; */
}
.box{
  width: 450px;
  height: auto;
  background: rgb(163, 183, 214);
  overflow: hidden;
  position: relative;
    display: inline-block;
    text-align: center;
}

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

/* ************ Galerias ************ */
/* Galeria 1 */

img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }
  h2 {
    margin-bottom: .5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
  
  
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(0, 42, 90, 0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }

  /* Galeria 2 */



h1 {
	/* color: #fff; */
	text-align: center;
}

/*Estilos de la galeria*/

.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;
}

.galeria img {
	width: 250px;
	height: 200px;
}

/*Estilos del modal*/

.modal {
	display: none;
}

.modal:target {
	
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}

.imagen {
	width: 100%;
	height: 50%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;
}

.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagen img {
	width: 500px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}

.cerrar {
	display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}


/* Galeria 3 */
.heading .center{
  align-content: center;
}
.cuerpo{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  /* 100vh */
  background: #f0f0;
}

.main-img {
  transition: transform .2s; 
}

.main-img:hover {
  transform: scale(1.5); 
}
/* width: 350px;  largo de imagen 
  height: 450px; */
.container-img .img-container {
  width: 450px; /* largo de imagen */
  height: 250px;
  margin-bottom: 20px;
}

.container-img .img-container .main-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
  object-fit: cover;
}

.container-img .thumbnail-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.container-img .thumbnail-container .thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  opacity: 0.7;
  transition: .7s;
}

.container-img .thumbnail-container .thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1 !important ;
  box-shadow: 0 5px 5px rgba(0, 42, 90, 0.4);
}

@media screen and (max-width: 800px){
  /* section.muestraProyecto img{
  } */
  .container-img .img-container {
    width: 350px; /* largo de imagen */
    height: 150px;
    margin-bottom: 20px;
  }
  .container-img .thumbnail-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* height:calc(100vh - 120px); */
    max-height: 600px;
    align-items: center;
  }
}

/* Galeria 4 */
.container-g4{
  position: relative;
  width: 250px;
  height: 300px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: cycle 1.5s linear infinite 0s forwards;
  animation-play-state: paused;
}

.container:hover .image {
  animation-play-state: running;
}

.image-1 {
  z-index: 9;
}
.image-2 {
  z-index: 8;
  animation-delay: .815s;
}
.image-3 {
  z-index: 7;
  animation-delay: .630s;
}

@keyframes cycle {
  form {
    visibility: visible;
    z-index: 11;
  }
  to {
    visibility: hidden;
    z-index: 5;
  }
  
}



/* Botones */

.wrapper {
  /* margin: 25px 30px 20px; */
  background-color: gray;
}

.wrapper .button:nth-child(1) .icon{
  background: #333;
}

.wrapper .button:nth-child(2) .icon{
  background: #ff0000;
}

.wrapper .button:nth-child(1):hover .icon{
  background: #333;
}

.wrapper .button:nth-child(2):hover .icon{
  background: #ff0000;
}

.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i{
  color: #fff;
}

.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span{
  color: #333;
}

.wrapper .button:nth-child(1) span{
  color: #fff;
}

/* Boton div.boton-2 */

.button-hoverMe {
  padding: 12px;
  width: 190px;
  cursor: pointer;
  background: aqua;
  color: blue;
  transition: .5s ease;
  border-radius: 10px;
}

.button-hoverMe:hover{
  background: transparent;
  border: 2px solid rebeccapurple;
  box-shadow: 0 0 10px 4px lightblue;
  border-radius: 10px;
}


/* Boton Luis David */

.boton-a {
  position: relative;
  padding: 10px 30px;
  margin: 45px 0;
  color: #21ebff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  transition: .5s;
}
.boton-a::before {
  content: " ";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: .5s;
  transition-delay: .5s;
}

.boton-a::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff;
  border-right: 2px solid #21ebff;
  transition: .5s;
  transition-delay: .5s;
}
.boton-a:hover::before, 
.boton-a:hover::after {
  width: 100%;
  height: 100%;
  transition: .5s;
}
.boton-a:hover {
  background: #21ebff;
  color: #2098D1;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
}



